@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
*{
	box-sizing: border-box;
}
body {
	font-family: Inter, sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #292929;
	background: #fff;
	text-decoration: none;
}
ul, ul li{
	list-style: none; /* убирает точки у списка */
	padding: 0;
	margin: 0;
	display: inline-block; /*делает строчный элемент */
}
a{
	text-decoration: none; /*убирает подчеркивание */
	color: inherit; /*присвает цвет родителя*/
}
h1, h2, h3, h4, p, span{
	padding: 0;
	margin: 0;
}
button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}
input
{
	padding: 0;
	margin: 0;
	border: 0;
	border: none;
	outline: none;
}
.container{
	width: 1213px;
	margin: 0 auto;
}
.header_container{
	display: flex;
	padding: 25px 0;
	align-items: center;
}
.logo_text {
	font-size: 24px;
	letter-spacing: 0.14em;
	text-transform: uppercase;
	color: #292929;
	font-weight: 300;
	min-width: 202px;
}
.navigation {
	min-width: 527px;
	margin: 0;
	padding: 0;
	margin-left: 87px;
}

.navigation_link {
	font-weight: 400;
	list-style-type: none;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.01em;
	color: #292929;
}
.header_address{
	margin-left: 87px;
}
.header_address-city{
	font-weight: 400;
	display: block;
	margin-bottom: 5px;
	min-width: 94px;
}
.header_address-street{
	line-height: 16px;
	font-size: 13px;
	color: #959595;
}
.tel_number {
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.01em;
	color: #6B9CFA;
	display: block;
	margin-bottom: 6px;
}
.call{
	color: #959595;
	font-weight: 400;
	font-size: 13px;
	border: 1px solid #959595;
	padding: 7px 11px;
	display: block;
}
.header_contacts{
	margin-left: 87px;
}
.navigation_item {
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.01em;
}
.consult{
	border: 1px;
}
.button_consult_item {
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.01em;
	color: #FFFFFF;
}
.card_number {
	font-size: 34px;
	line-height: 52px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #6B9CFA;
}
.card_list_item {
	font-size: 15px;
	line-height: 23px;
	letter-spacing: 0.01em;
}
.reviews_names {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #959595;
}
.contacts_list_item {
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.01em;
	color: #292929;
}
.logo {
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.14em;
	text-transform: uppercase;
	color: #292929;
}
.footer_text {
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.01em;
	color: #959595;
}
.footer_list {
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.01em;
}
.footer_link_center{
	color: #292929;
}
.footer_tel {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.01em;
	color: #000000;
}
.footer_consult {
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.01em;
	color: #FFFFFF
}
.container_div{
	margin: 0 auto;
	padding-left: 43px;
	padding-top: 200px;
	padding-bottom: 274px;
	background-image: url('../img/man.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -30px;
	/*line-height: 750px;*/
}
.main_div{
	width: 435px;

}
.main_title {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 48px;
	line-height: 56px;
	text-transform: uppercase;
	margin-bottom: 37px;

}
.main_description {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 37px;
}
.main_consult{
	padding: 21px 39px;
	border: 1px solid #000000 ;
	display: inline-block;

}
.garanty{
	padding: 150px 0;
}
.card_description_wrapper{
	margin-bottom: 57px;
}
.card_description {
	font-size: 34px;
	line-height: 52px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	display: inline-block;
	width: 482px;
	height: 208px;

}
.more_wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 90px;
}
.more {
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.01em;
	color: #6B9CFA;
	font-weight: 400;
	display: inline;
}
.more_link{
	display: flex;
	width: 217px;
	justify-content: space-between;
	align-items: center;
}

.more_right{
	width: 28px;
	height: 3px;
	background-color: #6B9CFA;
	position: relative;
	border-radius: 12px;
}
.more_right::before{
	content: '';
	position: absolute;
	background-color: #6B9CFA;
	top: -4px;
	right: -3px;
	width: 14px;
	height: 3px;
	transform: rotate(45deg);
	border-radius: 12px;
}
.more_right::after{
	content: '';
	position: absolute;
	background-color: #6B9CFA;
	top: 4px;
	right: -3px;
	width: 14px;
	height: 3px;
	transform: rotate(-45deg);
	border-radius: 12px;

}
.info_text{
	font-weight: 400;
	width: 628px;
	display: block;
}
.offers_title{
	width: 230px;
	height: 56px;
	margin-bottom: 78px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #959595;

}
.navigation_list{
	display: flex;
	justify-content: space-between; /*раскидывает контент по всей ширине блока */
}
.offers_card{
	display: flex;
	justify-content: space-between;
	background-color: #F8F8F8;
}
.offers_content{
	padding-top: 90px;
	padding-left: 60px;
}
.offers_item{
	color: #292929;
	font-weight: 400;
	max-width: 325px;
	width: 100%;
	margin-bottom: 36px;
}
.offers_item:nth-child(odd) {
	margin-right: 113px;;
}
.offers_list{
	display: flex;
	flex-wrap: wrap;
}
.form_section{
	height: 480px;
}
.title_card{
	width: 117px;
	height: 22px;
	padding-left: 60px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #959595;
	display: flex;
}
.form_content{
	display: flex;
	justify-content: space-between;
	margin-top: 150px;
	width: 992px;
	height: 328px;
}
.card_wrapper{
	display: flex;
}
.div_form{
	display: block;
}
.form_description {
	width: 455px;
	font-size: 20px;
	line-height: 152.19%;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}
.form_consult {
	width: 513px;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.01em;
	color: #000000;
}
.form_input{
	margin-top: 70px;
	padding-bottom: 8px;
	font-family: Inter, sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.01em;
	color: #000000;
	border:0 solid #fff;
	border-bottom: 1px solid #000;
	width: 90%;
}
.form_input::-webkit-input-placeholder {
	color: #000;
}
.form_input_button{
	color: #FFFFFF;
	font-family: Inter, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.01em;
	border: 1px solid #959595;
	padding: 21px 39px;
	margin-top: 30px;
	display: block;
	background: #6B9CFA;
	cursor: pointer;
}
.gallery_wrapper{
	display: inline-flex;
	margin-top: 60px;
}
.gallery_left_block{
	display: block;
	padding-top: 65px;
	padding-left: 60px;
	width: 478px;
	height: 462px;
	background: #6B9CFA;
}
.gallery_title{
	font-size: 34px;
	font-weight: 400;
	line-height: 41px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 118px;
}
.right_block_galery{
	display: flex;
	width: 722px;
	height: 462px;
}
.info_text_gallery {
	font-size: 15px;
	line-height: 21px;
	letter-spacing: 0.01em;
	color: #FFFFFF;
	width: 300px;
}
.right_block_content{
	display: block;
	padding-left: 60px;
	padding-top: 60px;
}
.title_right_block{
	font-family: Inter, sans-serif;
	font-weight: 300;
	font-size: 34px;
	line-height: 52px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #292929;
	margin-bottom: 49px;
}
.list_right_block{
	display: flex;
	flex-direction: column;
}
.card_list_item{
	margin-bottom: 39px;
	display: inline-flex;
	align-items: center;
}
.plus{
	display: block;
	vertical-align:3px;
	font-size: 34px;
	line-height: 52px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #6B9CFA;
}
.card_number{
	display: flex;
	align-items: center;
	width: 128px;
}
.gallery_count{
	padding-right: 25px;
	position: relative;
}
.gallery_count::after{
	content: '+';
	position: absolute;
	right: 0px;
	top: -3%;
}
.sheme_work{
	padding-top: 150px;
	padding-bottom: 60px;
}
.sheme_wrapper{
	width: 800px;
	display: flex;
	/*flex: 1 1 50%;*/
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
}
.sheme_title{
	width: 210px;
	padding-left: 60px;
	margin-bottom: 60px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #959595;
	display: flex;
}
.card_item_content{
	display: block;
}
.block_step{
	margin-bottom: 10px;
}
.step{
	display: flex;
	flex-direction: column;
	width: 337px;
	margin-bottom: 91px;
	justify-content: space-between;
}
.step_number{
	display: block;
	margin-bottom: 22px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.01em;
	color: #6B9CFA;
}
.feedback_container{
	background: #F8F8F8;
	padding-top: 90px;
}
.feedback_wrapper{
	margin-bottom: 140px;
}
.feedback_content_wrapper{
	display: flex;
	justify-content: space-between;
	width: 890px;
	margin: 0 auto;
}
.feedback_content{
	margin-bottom: 38px;
}
.title_feedback{
	width: 210px;
	margin-bottom: 42px;
	margin-left: 161.5px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #959595;
	display: flex;
}
.info_text_feedback{
	width: 418px;
	padding-bottom: 22px;
}
.dots{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 88px;
}
.contacts{
	margin-top: 90px;
}
.contacts_title{
	width: 210px;
	padding-left: 60px;
	margin-bottom: 60px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #959595;
	display: flex;
}
.contacts_list{
	width: 290px;
	margin-left: 60px;
	margin-top: 100px;
}
.contacts_list_item{
	display: block;
	margin-bottom: 50px;
}
.contacts_content{
	width: 1213px;
	padding-bottom: 150px;
	display: flex;
	justify-content: space-between;
}
.map{
	margin-right: 0;
}
.footer{
	background: #DDDDDD;
}
.footer_wrapper{
	display: flex;
	justify-content: space-between;
	padding: 60px 60px;
}
.footer_left{
	width: 365px;
}
.footer_logo{
	display: block;
	font-family: Inter, sans-serif;
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.14em;
	text-transform: uppercase;
	color: #292929;
	margin-bottom: 22px;
}
.footer_text{
	display: block;
	margin-bottom: 22px;
}
.footer_link_item{
	margin-right: 15px;
}
.footer_center{
	display: flex;
	flex-direction: column;
	width: 110px;
}
.footer_list{
	display: flex;
	flex-direction: column;
}
.footer_list_item{
	font-family: Inter, sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.01em;
	color: #959595;
	margin-bottom: 12px;
}
.footer_right{
	display: flex;
	flex-direction: column;
	width: 262px;
}
.footer_questions{
	font-family: Inter, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #959595;
}
.footer_form_consult{
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.01em;
	color: #000000;
	border:0 solid #fff;
	width: 90%;
}
.footer_form_input{
	margin-top: 21px;
	font-family: Inter, sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.01em;
	color: #000000;
	border:0 solid #fff;
	border-bottom: 1px solid #000;
	width: 109%;
	background: #DDDDDD;
}
.footer_form_input_button{
	color: #FFFFFF;
	font-family: Inter, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.01em;
	padding: 21px 39px;
	margin-top: 30px;
	display: block;
	background: #6B9CFA;
	cursor: pointer;
}